<p class="title">WYNIK</p>
<div *ngFor="let row of list; let i = index">
  <div class="row" [ngClass]="{'row--new': show&&i==0}">
    <div class="row--column row--value">
      <span
        >{{
          (row.price | number: "1.0-2":"en-US") * +row.value
            | number: "1.0-2":"en-US"
            | currency: "PLN":"PLN"
        }}
      </span>
    </div>
    <div class="row--column">
      <p>{{ row.data | date: "dd.MM.y, HH:mm" }}, KURS EURO={{ row.price | currency: "EUR":"" }} </p>
      <p>WARTOŚĆ DLA {{ row.value | currency: "EUR":"EUR" }} </p>
    </div>
  </div>
</div>
<div id='banner'>
  <img src="assets/blue_skye.PNG" alt="">
  <h2>napis</h2>
</div>
